body{
    background-color: white;
    color:#757575 ;
}
/*цвет основного текста #212121*/
/* вторичный цвет текста #757575*/
/*цветовой акцент #2196F3*/
/* белый #FFFFFF*/
/* вторичный цвет фона #F5F4FA */
.list{
    list-style: none;
}
.logo {
    color: #212121;

}
.logo:hover{
    color:#2196F3;
}

/* site nav */

.site-nav .link {
    color: #2196F3;
}

.site-nav .link:hover ,
.site-nav .link :focus {
    color: #212121;
}

.section-title{
    color: #212121 ;
}